/*
   New Perspectives on HTML and CSS
   Tutorial 6
   Case Problem 2

   The Spice Bowl Payment Form Style Sheet
   Author: Rita Sato
   Date:   3/1/2014

   Filename:         payment.css
   Supporting Files: go.png, stop.png

*/
fieldset {
  border: none;
  margin: 5px;
}
fieldset legend {
  background-color: rgb(239, 198, 145);
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  text-indent: 20px;
  width: 100%;
  border-radius: 10px;
}
fieldset label {
  display: block;
  clear: both;
  float: left;
  font-size: 0.8em;
  text-align: right;
  margin: 2px 5px;
  width: 25%;
}
fieldset input {
  display: block;
  float: left;
  font-size: 0.9em;
  width: 60%;
  margin: 2px 0;
}
fieldset select {
  display: block;
  float: left;
  font-size: 0.9em;
  margin: 2px;
}
fieldset textarea {
  display: block;
  float: left;
  font-size: 0.9em;
  height: 75px;
  width: 60%;
}
fieldset.optionGroup {
  margin-left: 25%;
}
fieldset.optionGroup label {
  display: inline;
  float: none;
  width: 100px;
}
fieldset.optionGroup input {
  display: inline;
  float: none;
  margin: 0;
  width: 20px;
}

fieldset#csc input {
  width: 50px;
}
button {
  background-color: rgb(239, 198, 145);
  float: none;
  width: 150px;
  height: 30px;
  margin: 10px auto;
  border-radius: 15px;
}

input:focus,
select:focus,
textarea:focus {
  background-color: rgb(155, 218, 165);
}
input:focus:invalid {
  background-color: rgb(255, 245, 215);
  background-image: url(../img/stop.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
input:focus:valid {
  background-color: rgb(215, 255, 215);
  background-image: url(../img/go.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
