@charset "utf-8"; /*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: 
   Date:   
   
   Filename: lake_styles.css

*/

@font-face {
  font-family: Champagne;
  src: url(../font/cac_champagne.ttf), url(../font/cac_champagne.woff);
}

@font-face {
  font-family: Dobkin;
  src: url(../font/DobkinPlain.ttf), url(../font/DobkinPlain.woff);
}

html {
  background-color: #d1cd97;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.9em;
}

body > section#leftcol {
  background-color: #fcfaf2;
  margin: 0;
}

footer {
  background-color: #65626a;
  color: white;
  text-align: center;
}

header nav a {
  color: #fff;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #855f8c;
}

header nav a:hover {
  background-color: #68476e;
}

#leftcol aside:first-of-type {
  background-color: #e7aa9d;
  line-height: 1.8em;
  font-weight: normal;
}

body section#leftcol aside:last-of-type {
  background-color: #d9bf80;
}
#leftcol > h1 {
  font-family: Champagne, serif;
  font-weight: normal;
  font-size: 3.5em;
  margin: 10px 0 10px 10px;
}

#leftcol aside h1 {
  text-align: center;
  font-weight: normal;
  font-size: 1.5em;
  margin-top: 5px;
}

#leftcol aside h2 {
  font-weight: normal;
  font-size: 1.2em;
}
#leftcol p {
  padding-left: 10px;
  padding-right: 10px;
}
body > section#rightcol {
  background-color: #dbcbe3;
  margin-right: 0;
  width: 30%;
}
#rightcol nav {
  padding-left: 25px;
  margin-top: 15px;
  width: 100%;
  margin-bottom: 100px;
}
#rightcol nav h2 {
  font-family: Dobkin, serif;
  color: #6f5a62;
  font-size: 1.8em;
}

#rightcol nav ul {
  list-style-type: none;
}
#rightcol nav ul li a {
  text-decoration: none;
  color: #6f5a62;
}

#rightcol blockquote {
  color: #9a7fb8;
  font-family: "Times new roman", serif;
  font-weight: 500;
  font-size: 1.3em;
  padding-bottom: 140px;
}

#rightcol blockquote::before {
  content: "“";
  font-weight: 700;
  font-size: 2em;
}
#rightcol blockquote::after {
  content: "”";
  font-weight: 700;
  font-size: 2em;
}
