/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Case Problem 1

   Sudoku Puzzle Table Style Sheet
   Author: 
   Date:   

   Filename:         stable.css
   Supporting Files: green.jpg, gold.jpg

*/

.spuzzle,
.subTable {
  border-collapse: collapse;
}

.spuzzle td {
  border: 5px outset gray;
}

.spuzzle th {
  font-size: 8px;
  color: gray;
}
.spuzzle tbody th {
  height: 40px;
}

.subTable td {
  font-size: 20px;
  color: blue;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
}

.goldBox td {
  background-image: url(../img/gold.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}
.greenBox td {
  background-image: url(../img/green.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}
