/*
   New Perspectives on HTML and CSS
   Tutorial 4
   Case Problem 3

   Trail Map Style Sheet
   Author: 
   Date:   

   Filename:         map.css
   Supporting Files: 

*/
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Verdana, Geneva, sans-serif;
}
nav,
section,
figure,
figcaption {
  display: block;
}

time {
  display: inline;
}

#page {
  background-color: rgb(255, 255, 128);
  background-image: url(../img/bluebar.png);
  background-repeat: repeat-y;
  border: 15px ridge rbg(70, 76, 222);
  border-radius: 50px;
  width: 900px;
  height: 750px;
  margin-left: auto;
  margin-right: auto;
}
.vertical {
  float: left;
  width: 230px;
}
.vertical li {
  list-style-type: none;
  margin: 25px 20px;
}
.vertical li a {
  color: #ffffff;
  text-decoration: none;
}
.vertical li a:hover {
  color: yellow;
}
#summary {
  float: left;
  margin-left: 30px;
  width: 600px;
}
#summary h1 {
  color: rgb(70, 76, 222);
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 5px;
  margin: 20px;
}

#summary p {
  margin: 10px;
}

#map {
  position: relative;
  background-color: #fff;
  background-image: url(../img/lpmap.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  border: 1px solid black;
  float: left;
  margin-left: 30px;
  width: 600px;
  height: 294px;
}
figure {
  background-color: rgb(70, 76, 222);
  color: white;
  width: 150px;
  border-radius: 15px;
  position: absolute;
  z-index: 1;
  clip: rect(0 20px 20px 0);
}
figure:hover {
  clip: initial;
  z-index: 2;
}
figure figcaption {
  font-size: 12px;
  margin: 10px;
}
figure time {
  color: yellow;
}
#point0 {
  left: 560px;
  top: 60px;
}
#point1 {
  left: 277px;
  top: 90px;
}
#point2 {
  left: 175px;
  top: 0px;
}
#point3 {
  left: 110px;
  top: 115px;
}
#point4 {
  left: 55px;
  top: 165px;
}
#point5 {
  left: 5px;
  top: 180px;
}
#point6 {
  left: 15px;
  top: 222px;
}
#point7 {
  left: 50px;
  top: 245px;
}
#point8 {
  left: 100px;
  top: 245px;
}
#point9 {
  left: 90px;
  top: 220px;
}
