@charset "utf-8";
@font-face {
  font-family: Champagne;
  src: url(../font/cac_champagne.ttf), url(../font/cac_champagne.woff);
}

@font-face {
  font-family: Grunge;
  src: url(../font/1942.ttf), url(../font/1942.woff);
}

@font-face {
  font-family: Dobkin;
  src: url(../font/DobkinPlain.ttf), url(../font/DobkinPlain.woff);
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: 
   Date:   
   
   Filename: ph_styles.css

*/

/* Structural Styles */
html {
  background-color: hsl(91, 8%, 56%);
}
body {
  background-color: hsl(58, 31%, 84%);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
header {
  background-color: black;
}
body p {
  margin: 0;
  padding: 5px 25px 25px;
}

body > p {
  font-size: 1.1rem;
  text-align: center;
}

body footer address {
  font-weight: normal;
  font-size: 0.9rem;
  text-align: center;
  padding: 10px 0;
}
/* Navigation Styles */
body nav a {
  font-family: " Trebuchet MS", Helvetica, sans-serif;
  padding: 10px 0;
}

body nav a:link,
body nav a:visited {
  color: white;
  text-decoration: none;
  background-color: hsla(0, 0%, 42%, 0.4);
}

body nav a:active,
body nav a:hover {
  color: hsla(0, 0%, 100%, 0.7);
  background-color: hsl(0, 0%, 42%, 0.7);
}

/* Section Styles */

section.playbill h1 {
  font-size: 3em;
  font-weight: normal;
  margin: 0;
  padding: 20px 0 10px 20px;
}

#play1 {
  background-color: hsl(240, 100%, 88%);
}
#play2 {
  background-color: hsl(25, 88%, 73%);
}
#play3 {
  background-color: hsl(0, 100%, 75%);
}
#play4 {
  background-color: hsl(296, 86%, 86%);
}

#play1 h1 {
  font-family: Champagne, cursive;
}

#play2 h1 {
  font-family: Grunge, ‘Times New Roman’, Times, serif;
}

#play3 h1 {
  font-family: Impact, Charcoal, sans-serif;
}

#play4 h1 {
  font-family: Dobkin, cursive;
}
/* Description List Styles */
dt {
  font-size: 1.3em;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.4);
}

dd {
  font-size: 1.3em;
  margin-left: 0;
  margin-bottom: 10px;
}
