#warranty {
  margin-left: 84px;
}
input:focus:invalid {
  background-color: rgb(255, 245, 215);
  background-image: url(../img/stop.png);
  background-position: center right;
  background-repeat: no-repeat;
}
input:focus:valid {
  background-color: rgb(215, 255, 215);
  background-image: url(../img/go.png);
  background-position: center right;
  background-repeat: no-repeat;
}
